
header {
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/header.jpg);
    color:white;
    background-size: cover;
    background-position: center;
    

} 

#title {
    font-family: 'Lobster Two', cursive; 
}
/* .main-nav {
    position: fixed;
} */

#logo {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

#break {
    width: 800px;
    height: 5px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.3);
}


.nav li a {
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.nav li a:active {
    border: 1px solid white;
}
.nav li a:hover  {
    border: 1px solid white;
}


.hero {
    position: absolute;
    width: 500px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
       
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* .main {
    padding: 0;
} */

#about {
    padding: 50px;
    text-align: center;
    height: 50vh;
    font-family: 'Lato', sans-serif;
    
}

#portfolio {
    
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.project {
    padding-left: 27%;
    margin-top: 20px;
    
}
#contact {
    height: 200px;
    margin-top: 50px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.icons {
    padding: 10px;
    margin: 20px;
}
footer {
    bottom: 0;
    text-align: center;
}



